

body {
  margin: 0;
  background: url('/assets/img/wallpaper.jpg') no-repeat center top;
  background-size: cover;         /* cobre toda a tela, sem distorcer */
  background-attachment: fixed;   /* mantém fixo enquanto rola */
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


